.hero {
	height: 90vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
	& img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.65);
	}
}
.container {
	position: relative;
	z-index: 1;
	color: $bg-light;
	text-align: center;
	padding: clamp(10px, 2vw, 20px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: clamp(50px, 10vw, 150px);

	h1 {
		font-size: clamp(24px, 4vw, 64px);
		font-weight: 700;
		line-height: 70px;
	}
	p {
		font-size: clamp(16px, 2vw, 24px);
		font-weight: 400;
		line-height: 29px;
	}
	.search-container {
		display: flex;
		flex-direction: row;
		background-color: $bg-light;
		border-radius: 10px;
		padding: clamp(5px, 1vw, 10px) clamp(5px, 1vw, 10px);
		width: 100%;
		height: clamp(50px, 10vw, 100px);
		gap: 10px;
		input {
			width: 100%;
			padding: clamp(5px, 1vw, 10px);
			font-size: clamp(14px, 2vw, 16px);
			border-radius: 5px;
			border: none;
			border-style: none;
			background-color: $bg-light;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.search-button {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: clamp(5px, 1vw, 10px);
			width: clamp(75px, 15vw, 150px);
			border-radius: 5px;
			border: none;
			border-style: none;
			font-size: clamp(14px, 2vw, 16px);
			color: $bg-light !important;
			background-color: $blue !important;
			transition: transform 0.3s ease-in-out;
			&:hover {
				transform: scale(1.05);
				transition: transform 0.3s ease-in-out;
			}
		}
	}
}
.restaurants {
	background-color: $rosegold;
	padding: clamp(25px, 5vw, 50px) 0;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: clamp(25px, 5vw, 50px);
	.restaurant-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: clamp(30px, 3.5vw, 150px);
		width: 100%;
		padding: 0 clamp(15px, 3vw, 30px);
	}
	.restaurant-card {
		width: 400px;
		height: 550px;
		background-color: $bg-light;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(10px, 2vw, 20px);
		box-shadow: 0 4px 10px 0 rgba(38, 38, 38, 0.5);
		& img {
			width: 100%;
			height: 45%;
			object-fit: cover;
			border-radius: 10px 10px 0 0;
		}
		.restaurant-card-link {
			text-decoration: none;
			width: 100%;
			height: 100%;
		}
		.restaurant-card-content {
			display: grid;
			grid-template-rows: 1fr 2fr 1fr;
			gap: clamp(10px, 2vw, 20px);
			align-items: center;
			justify-items: center;
			padding: 10px clamp(15px, 3vw, 30px);
			height: 55%;
		}
		.restaurant-card-title {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			color: $blue;
			width: 100%;
			h3 {
				font-size: 24px;
				font-weight: 700;
				line-height: 29px;
			}
			p {
				font-size: 20px;
				font-weight: 500;
				line-height: 19px;
				text-decoration: underline;
			}
		}
		.restaurant-card-description {
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
			color: $text-black;
		}
		transition: transform 0.3s ease-in-out;
		&:hover {
			transform: scale(1.05);
			transition: transform 0.3s ease-in-out;
		}
		button {
			border-radius: 5px;
			border: none;
			border-style: none;
			background-color: $blue;
			color: $bg-light;
			height: 50px;
			width: 150px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease-in-out;
			&:hover {
				transform: scale(1.05);
				transition: transform 0.3s ease-in-out;
			}
			&:not(:hover) {
				background-color: $blue;
				color: $bg-light;
			}
		}
	}
	.restaurants-button {
		border-radius: 5px;
		border: none;
		border-style: none;
		background-color: $blue !important;
		color: $bg-light !important;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.3s ease-in-out;
		box-shadow: 0 4px 10px 0 rgba(38, 38, 38, 0.5);
		&:hover {
			transform: scale(1.05);
			transition: transform 0.3s ease-in-out;
		}
		&:not(:hover) {
			background-color: $blue;
			color: $bg-light;
		}
	}
}
.confiance {
	background-color: $bg-light;
	padding: clamp(25px, 5vw, 50px) 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: clamp(25px, 5vw, 50px);
	.confiance-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		gap: clamp(30px, 4.5vw, 150px);
		width: 100%;
		justify-content: center;
	}
	.confiance-card {
		width: clamp(300px, 60vw, 350px);
		height: auto;
		background-color: $bg-light;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: clamp(20px, 4vw, 40px);
		align-items: center;
		justify-content: center;
		padding: 0 clamp(15px, 3vw, 30px);
		text-align: justify;
		flex-shrink: 0;
		& img {
			width: 240px;
			height: 240px;
			object-fit: contain;
			transition: transform 0.3s ease-in-out;
			&:hover {
				transform: scale(1.05);
				transition: transform 0.3s ease-in-out;
			}
		}
		h3 {
			font-size: 24px;
			font-weight: 700;
			line-height: 29px;
			color: $blue;
			height: clamp(35px, 7vw, 70px);
			text-align: center;
		}
		p {
			font-size: 16px;
		}
	}
}
.popup[open] {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 1000;
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	&::backdrop {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.popup-container {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 90%;
		max-width: 1200px;
		height: 650px;
		gap: clamp(20px, 4vw, 100px);
		border-radius: 10px;
		padding: clamp(20px, 4vw, 40px);
		overflow: hidden;
		background-color: $rosegold;
		box-shadow: 0 4px 10px 0 rgba(38, 38, 38, 0.5);
	}
	.hero-image {
		width: clamp(300px, 10vw, 500px);
		height: clamp(300px, 10vw, 500px);
		object-fit: contain;
		animation: rotate 120s linear infinite;
		@keyframes rotate {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}
	.close-popup {
		position: absolute;
		top: 0;
		right: 0;
		border: none !important;
		border-style: none !important;
		background-color: $rosegold !important;
		color: $red !important;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		cursor: pointer;
		transition: transform 0.3s ease-in-out;
	}
	.popup-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: clamp(20px, 4vw, 40px);
		width: 50%;
		.popup-title {
			font-size: 32px;
			font-weight: 700;
			line-height: 29px;
			color: $red;
			text-align: center;
		}
		.popup-text {
			text-align: justify;
			font-size: 24px;
			font-weight: 400;
			line-height: 29px;
			color: $text-black;
		}
		.popup-button {
			border-radius: 5px;
			border: none;
			border-style: none;
			background-color: $blue !important;
			color: $bg-light !important;
			height: 50px;
			transition: transform 0.3s ease-in-out;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				transform: scale(1.05);
				transition: transform 0.3s ease-in-out;
			}
		}
	}
	.hero-image {
		width: 500px;
		height: 500px;
		object-fit: contain;
	}
}

@media (max-width: $mobile) {
	.hero {
		height: 70vh;
	}
	.search-button {
		.search-button-desktop-text {
			display: none;
		}
	}
	.restaurants {
		.restaurant-container {
			flex-direction: column;
			padding: 0 clamp(5px, 3vw, 30px);
		}
		.restaurant-card {
			width: clamp(300px, 60vw, 400px);
			height: clamp(450px, 80vw, 550px);
			.restaurant-card-title h3 {
				font-size: 20px;
			}
			.restaurant-card-title p {
				font-size: 16px;
			}
			.restaurant-card-description {
				font-size: 14px;
			}
		}
	}
	.confiance {
		.confiance-container {
			flex-direction: column;
			gap: clamp(50px, 10vw, 100px);
		}
		.confiance-card {
			img {
				width: 150px;
				height: 150px;
			}
			h3 {
				font-size: 20px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 1024px) {
	.popup[open] {
		.popup-container {
			width: 90%;
			height: 70vh;
			flex-direction: column;
		}
		.popup-content {
			width: 100%;
			flex-grow: 0;
			.popup-title {
				font-size: 24px;
			}
			.popup-text {
				font-size: clamp(14px, 2vw, 16px);
			}
			.popup-button {
				width: 100%;
				height: clamp(50px, 10vw, 70px);
			}
		}
		.hero-image {
			width: 300px;
			height: 300px;
			object-fit: contain;
		}
	}
}
@media (min-width: $mobile) {
	.search-button {
		.fa-magnifying-glass {
			display: none;
		}
	}
}
